<ion-navbar hideBackButton *navbar>
    <ion-title>
        Welcome to Quiz Page
    </ion-title>
</ion-navbar>

<ion-content class="home">
    <ion-list>
        <ion-item *ngFor="let quiz of groupQuiz; let i = index">
            <h2>{{quiz.quizTitle}}</h2>
            <i>{{quiz.startTime | amCalendar }}</i><br />
            <i>Duration:{{quiz.duration }}</i>
            <button seagreen item-right  *ngIf="quiz.scheduleIsStarted" (click)="checkIsQuizCanGiven(quiz,i)">Go to Quiz</button>
        </ion-item>
    </ion-list>
</ion-content>
