<ion-navbar *navbar>
    <ion-title>
        Home
    </ion-title>
</ion-navbar>

<ion-content class="home">
    <h1>Welcome to Quiz Page</h1>
    <ion-card *ngIf="groupQuiz" *ngFor="let quiz of groupQuiz; let i = index">
        <div *ngIf="quiz">
            <img src="https://s3-us-west-2.amazonaws.com/defaultimgs/teamofteams.png"/>
            <ion-card-content>
                <ion-card-title>
                    <h1>{{quiz.quizTitle}}</h1>
                </ion-card-title>
                <strong>{{quiz.startTime | amCalendar }}</strong>
                <ion-buttons end>
                    <button secondary (click)="results(i)" end>Go to Quiz</button>
                </ion-buttons>
            </ion-card-content>

        </div>
    </ion-card>
</ion-content>
