
<ion-header>
  <ion-navbar hideBackButton>
      {{QuizUniqueId}}
  </ion-navbar>
</ion-header>
<ion-content class="Quiz">
    <div *ngIf="question">
        <div id="duration" text-center [hidden]="!showTime" padding></div>

        <ion-card>
            <ion-card-content [innerHTML]="question.html" padding></ion-card-content>
        </ion-card>
        <div *ngIf="question.type == 1">
            <radio-type [questionRadio]="question" (RadioButtonSelectedOption)="saveRadioButtonOption($event, question)"></radio-type>
        </div>
        <div *ngIf="question.type == 2">
            <checkbox-type [questionCheckbox]="question" (CheckboxSelectedOption)="saveCheckboxOption($event,question)"></checkbox-type>
        </div>
        <div *ngIf="question.type == 3" padding>
            <question-set-type [questionSet]="question" (questionSetCheckboxSelectedOption)="savequestionSetOption($event,question)"></question-set-type>
        </div>
        <ion-buttons end>
            <button (click)="nextQuestion(optionRadioButton,question,QuestionSetOptionRadioButton)" item-right seagreen *ngIf="!lastQuestion" [disabled]="!checkboxOption && !optionRadioButton && !QuestionSetOption && !QuestionSetOptionRadioButton">Next</button>

            <button (click)="nextQuestion(optionRadioButton,question,QuestionSetOptionRadioButton)" item-right seagreen *ngIf="lastQuestion" [disabled]="!checkboxOption && !optionRadioButton && !QuestionSetOption && !QuestionSetOptionRadioButton">Save</button>
        </ion-buttons>
    </div>

    <!-- <ion-card>
  <ion-card-content *ngIf="question">




  </ion-card-content>

</ion-card> -->
    <!--ion-card-->

</ion-content>
<!--Ion-content-->
